html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,form,input,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;}
ol,ul{list-style:none;}
table{border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}
img{border:0; vertical-align:middle;}
address,caption,cite,code,dfn,th,var,i,s{font-style:normal;font-weight:normal;}
li{list-style:none}
input[type=search]{-webkit-appearance:none;}
input[type=checkbox]{vertical-align:middle;}
input,button,select,textarea{outline:0;}
a img,a span,a strong,a s{cursor:hand;}
body,button,select,textarea,input{
	font-family: "Hiragino Sans GB","Microsoft Yahei",Arial,'Open Sans',"Helvetica Neue",Helvetica,STHeiTi,sans-serif, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
	font-size: 12px;
}
a{text-decoration:none; outline:0;}
a:hover{text-decoration:none;}
.clearfix:after{content:'.';display:block;width:0;visibility:hidden;height:0;clear:both;}
.clearfix{*zoom:1;}
.clear{display:block;overflow:hidden;clear:both;}

body{ font-family:"微软雅黑"; font-size:14px; height:100%; background:#fff; }
html,body{height:100%; position:relative;}
.mWrapper{ width: 640px; height: 100%; margin:0 auto; }
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    font-size: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.swiperscroll{
    height: auto!important;
}
img.logo{
	position: absolute;
	left: 0;
	top: 0;
	z-index:3;
}
.page{
	width:100%;
	height:100%;
	position:relative;
}
.page1,.page2{
	background:url(../images/bodybg.jpg) repeat left top;
}
.imgBox{
	width: 640px;
	height: 1008px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.img1{
	background:url(../images/homeImg.png) no-repeat center bottom;
}
.img2{
	top:20%;
}
.kuang{
	width: 640px;
	height: 1008px;
	background: url(../images/kuang.png) no-repeat center center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
.kuang img.startBtn{
	width: 321px;
	height: 152px;
	position: absolute;
	display: block;
	left: 50%;
	bottom: 7%;
	margin-left:-161px;
}
/*弹窗*/
.myPop{ 
	width:100%; 
	height:100%; 
	position:absolute; 
	z-index:999; 
	display:none; 
}
.popBg{ 
	width:100%; 
	height:100%; 
	background:#000; 
	opacity:0.8; 
	filter:alpha(opacity=80); 
	position:absolute; 
	left:0; 
	top:0; 
	z-index:1; 
}
.popCon{ 
	width:587px; 
	height:785px; 
	position:absolute; 
	left:50%; 
	top:50%; 
	margin: -393px 0 0 -293px; 
	z-index:2;
	background: url(../images/scrollbg.png) no-repeat;
}
.closeBtn{
	width: 37px;
	height: 37px;
	background: url(../images/closebtn.png) no-repeat;
	position: absolute;
	right: 63px;
	top: 100px;
	cursor: pointer;
}
.popCon>img{
	width: 103px;
	height: 144px;
	display: block;
	position: absolute;
	left: -15px;
    bottom: 65px;
	z-index: 3;
}
.popup {
	width: 456px;
	height:464px;
	position:absolute;
	left: 50%;
	top: 50%;
	margin:-232px 0 0 -228px;
}
/*弹窗结束*/

/*分享页*/
.myShare{ 
	width:640px; 
	height:100%; 
	position:fixed; 
	z-index:99999; 
	display:none; 
}
.shareBg{ 
	width:640px; 
	height:100%; 
	background:#000; 
	opacity:0.9; 
	filter:alpha(opacity=90); 
	position:absolute; 
	left:0; .
	top:0; 
	z-index:1; 
}
.shareCon{ 
	width:auto; 
	height:auto; 
	text-align:right; 
	position:absolute; 
    right: 20px;
    top: 9px;
    z-index: 2;
    font-size: 0;
}

/*********keyframe*********/
/*audio*/
.audio-box,.listenBox{
	display:none;
}
.music-icon {
	display:block;
	width:40px;
	height:40px;
	/*background:url(../images/sound.png) no-repeat center center;*/
	background-size: cover;
    position: absolute;
    right: 42px;
    top: 80px;
    z-index: 999;
    text-indent: 999999;
}

/*arrow箭头*/
.page::after{
	content: "";
	display: block;
	height:auto;
	position:absolute;
	width:56px;
	height: 28px;
	left:50%;
	bottom:20px;
	margin-left:-28px;
	z-index:888;
	background: url(../images/arrowup.png) no-repeat;
	animation: mymoveToBottom 1s ease infinite;
	-webkit-animation: mymoveToBottom 1s ease infinite;
}
.page6::after,.page7::after{
	content: none;
}
/*箭头向上动画*/
@keyframes mymoveToBottom {
	from {  
		transform: translateY(25px); 
		opacity:0;
	}
	to { 
		transform: translateY(); 
		opacity:1;
	}
}
@-webkit-keyframes mymoveToBottom {
	from { 
		transform: translateY(25px); 
		opacity:0;
	}
	to { 
		transform: translateY();
		opacity:1;
	}
}

/*缩放*/
.wrap {
    width: 640px;
    height: 1008px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -320px;
    margin-top: -504px;
}
.bigWrap {
    width: 800px;
    height: 1008px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -504px;
    background: none no-repeat center;
}
@media screen and (max-height: 1000px) {
    .scale {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transform-origin: center center;
    }
}

@media screen and (max-height: 900px) {
    .scale {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transform-origin: center center;
    }
}

/*竖屏的提示弹层开始*/
.black {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    display: none;
    z-index: 500;
}

#shake {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -209.5px;
    margin-top: -127px;
}
/*竖屏的提示弹层结束*/