<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>f2e 前端构建工具</title>
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background: #ccc;
            font: 20px/40px "微软雅黑";
        }
        
        form {}
    </style>
</head>

<body>


    <form action="#" method="post">

        <div>
            <h3>项目名称</h3>
            <input type="text" name="name" />
        </div>
        <div>
            <h3>引用模版</h3>
            <p>

            </p>
        </div>

    </form>


    <script>
    </script>

</body>

</html>