<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=750,target-densitydpi=device-dpi,user-scalable=no">
    <title>f2e 静态服务</title>
   
	<link rel="stylesheet" href="css.css">
</head>
<body>
	<div class="panel">
	<% if(err){ %>
		<%= err %>
	<% }else{ %>
		<% for(var j=0; j<data.length; j++){%>
			<a href="<%= data[j] %>"><%= data[j] %></a>
		<% } %>
	<% } %>
	</div>
</body>
</html>