*{margin: 0;padding: 0;}
li,i,em {font-style: normal; list-style: none;}
input,area {outline: none}
body {background-color: #f8f8f8;}
h4 {margin-bottom: 0.5rem; }
a {color: #000;}
a:hover {color: #1664d8;}
html{font-size: 14px; line-height:26px; }


.btn,
.now,
.sbumit,
button,
input[type="button"] {
    text-decoration:none;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    display: inline-block;
    padding: 0.15rem 1rem;
    border-radius: 3px;
    background-color: #3b88fd;
    border: none;
    color: #FFFFFF;
}


.btn:hover,
.now:hover,
.sbumit:hover,
button:hover,
input[type="button"]:hover {
    background-color: #1664d8;
    color: #FFFFFF;
}

input[type="text"]{ width: 100%; line-height: 2rem; border:1px solid #d8d8d8 }
.panel {width: 100%; max-width:1024px;box-sizing: border-box; margin:0.5rem auto;padding: 1rem;border: 1px solid #d8d8d8;background-color: #FFFFFF;border-radius: 3px;}
.panel>div {padding: 0.5rem 0;}
.panel>a {margin-right: 2rem;}
.panel label{ margin-right:1rem; margin-bottom: 0.5rem;}
em {font-weight: bold;}
hr{ margin: 0.5rem 0; border: none; border-bottom:1px solid #d8d8d8}
li{margin: 0.5rem 0;}
.dir_a{color: #3b88fd;}

.tagbtn{
    text-decoration:none;
    cursor: pointer;
    line-height:100%;
    display: inline-block;
    border-radius: 3px;
    /* border: 1px solid #b1afaf; */
    background: #e8e8e8;
    color: #fff;
    box-sizing: border-box;
    padding: 0.1rem 0.6rem;
}
.tagbtn:hover {
    background: #3b88fd;
    color: #fff;

    /* border: 1px solid #3b88fd; */
    /* color: #3b88fd; */
}