<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<title> myServ </title>
	<!-- <link rel="stylesheet" href="/css/style.css"> -->
	<style media="screen">
		div{ width: 700px; margin: 0 auto; border: 1px solid red; min-height: 500px}
	</style>
	<script src="/js/jquery.js"></script>
</head>

<body>

	<div>
		<p>
			<label>文字参数:</label>
			<input type="text" id="name" name="name" />
		</p>
		<p>
			<label>上传文件:</label>
			<input type="file" name="file" id="file" required multiple />
		</p>
		<button id="btn">上传图片</button>
	</div>

	<script type="text/javascript">
		$("#btn").click(function (ev) {
			var file = document.getElementById("file").files[0]
			console.log(file)

			var oData = new FormData();
					oData.append("file",file)
					oData.append("name", $("#name").val())

			var oReq = new XMLHttpRequest();
			oReq.open("POST", "/upload", true);
			oReq.onload = function (oEvent) {
				if (oReq.status == 200) {
					alert("Uploaded!")
					console.log(oEvent)
				} else {
					alert("Error " + oReq.status + " occurred when trying to upload your file.")
				}
			};
			oReq.send(oData);
			ev.preventDefault();
		})
	</script>

</body>
</html>
